/* ESTILO GERAL */
body {
    background: linear-gradient(120deg, #6c11c0, #000000 70%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0px;
    background: linear-gradient(120deg, #4c1b7c, #1c0127 70%);
    border-radius: 30px;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container2 {
    max-width: 1000px;
    width: 100%;
    min-height: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-mensagem {
    height: 400px;
    width: 45%;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    left: -10%;
}

h1 {
    font-family: 'Arial', sans-serif;
    width: 100%;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: 'Arial', sans-serif;
    width: 100%;
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p {
    font-family: Courier;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* GALERIA DE IMAGENS */
.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* ANIMAÇÃO DE CORAÇÃO */
.heart {
    position: fixed;
    bottom: -50px;
    font-size: 24px;
    color: red;
    animation: floatUp 5s linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.slider {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* NOVO APARTIR DAQUI: */
.carousel {
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 50px;
}

.carousel-container {
    display: flex;
    transition: transform 1s;
}

.carousel-container img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

#contador {
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
    margin-top: -25px;
}

/* RESPONSIVIDADE - PARA QUE FIQUE LADO A LADO EM MOBILE */
@media (max-width: 828px) {
    .container2 {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .carousel {
        width: 50%;
        height: auto;
        margin-left: 0;
    }

    .carousel-container img {
        width: 100%;
        height: auto;
    }

    .container-mensagem {
        width: 50%;
        text-align: left;
        position: static;
    }
}

@media (max-width: 1170px) {
    .container2 {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}